@font-face{
	font-family: "Caveat";
	src:url(font/fonts/Pacifico/Pacifico-Regular.ttf);
}

#header_logo_text{
	font-family: "Caveat";
	margin-left: 65px;
}

.clear{
	clear: both;
}

div#header i{
	float: left;
}

/*Navagation bar*/

*{
	margin:0;
	padding:0;
}
div#navbar{
	width: 100%;
	background-color: #4A2C2A;
	height: 45px;
}

div#navbar ul{
	margin: 15px 0px;
	padding-left: 40px;
	padding-top: 13px;
}

div#navbar ul li{
	list-style: none;
	float: left;
}

div#navbar ul li a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	padding: 9px 30px;
}

div#navbar ul li a:hover, a.active{
	background-color: #5D4037
}

/*For body*/

div#slider img{
	width: 100%;
	margin: 0 auto;
	height: 700px;
	object-fit: cover;
}

.content_header{
	text-align: center;
	margin-top: 32px;
}

div#content{
	margin: auto;
	width: 85%;
}

/*for box*/

.box1{
	display: flex;
}

.box1img{
	flex: 0 0 50%;
}

.box1img img{
	width: 30%;
	height: 320px;
	/*max-width: 100%;*/
}

/*Table*/

table{

	width: 85%;
	margin: auto;
	border:none;    
}

table img{
	width: 100%;
	height: 350px;
}


.checked{
	color: orange;
}

.price{
	color:#c71035;
}



@font-face{
	font-family: 'Unicode';
	src: url('https://cdn.rawgit.com/LeonarAung/MyanmarFont/6cf1262f/mon3.woff') format('woff'), url('https://cdn.rawgit.com/LeonarAung/MyanmarFont/6cf1262f/mon3.ttf')
}

div.quote{
	font-family: "Unicode";
	position: absolute;
	top:35%;
	left: 6%;
	font-size: 25px;
	background-color: rgba(255, 255, 255,0.05);
	padding: 50px 70px;
}

/*Content*/


/*.content_header{
	border-bottom: 2px solid #ddd;
}*/

.line{
	background-color: gray;
	height: 2px;
	width: 85%;
	margin: 0 auto;
}


/*For footer*/

#foot{
	
	/*position: fixed;*/
	left: 0;
	bottom: 0;
	width: 100%;
	height: 30px;
	background-color: #4A2C2A;
	color: white;
	text-align: center;

}
.foot1{
	float: left;
	margin-left: 100px;
	text-align: center;
}
.foot2{
	float: right;
}